html {
    scroll-behavior: smooth;
    font-size: 125%;
    overflow-x: hidden;
  }
  
  body {
    color: rgb(51, 51, 50);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    text-rendering: optimizeLegibility;
    margin: 0;
  }
  
  header ul {
    list-style: none;
  }
  
  #background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url('banner.jpg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    z-index: 10;
  }
  
  h1 {
    text-align: center;
    color: #ffffff;
    font-weight: 800;
  }
  
  h2 {
    text-align: center;
    color: rgb(105, 197, 204);
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
  header {
    background: url('banner.jpg') no-repeat;
    background-size: cover;
  }
  
  #header-content {
    position: relative;
    z-index: 11;
    padding: 10px;
    text-align: center;
  }
  
  header > img {
    border-radius: 50%;
  }
  
  #header-content ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  
  a:hover {
    color: #78dfe4;
    transition: ease-in-out 1s;
  }
  
  header img {
    width: 500px;
  }
  
  .skills span {
    border: 1px solid #78dfe4;
    background: rgba(0, 0, 0, 0.75);
    color: #78dfe4;
    padding: 5px 8px;
    display: inline-block;
    margin: 4px;
    border-radius: 8px;
    font-size: 1.6rem;
  }
  
  .skills {
    background: rgba(255, 255, 255, 0.75);
    border-radius: 1px;
    color: #fff;
    display: inline-block;
    list-style: none;
    margin: 15px 15px 0 0;
    padding: 10px;
    text-align: justify;
  }
  
  ul {
    text-align: center;
    list-style-position: inside;
  }
  
  p {
    text-align: justify;
  }
  
  .skill-set li {
    background: rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    list-style: none;
    margin: 15px 15px 0 0;
    padding: 10px;
    text-align: justify;
    font-size: 1.3rem;
  }
  
  .skill-set li:hover {
    color: #78dfe4;
  }
  
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
  }
  
  .footer-text p {
    font-size: 1.2rem;
  }
  

